.banner {
  height: 500px;
  width: 100vw;
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.banner .container {
  width: 900px;
  margin: 0 auto;
  padding: 20px 20px;
  color: white;
}

.banner .container p {
  color: #B5B6B6;
  font-size: 20px;
  padding: 0 10px 0 0;
}

.banner .container h2 {
  color: black;
  text-align: center;
  padding: 10px;
}

.btn-medium {
  border-radius: 50px;
  padding: 16px 36px;
  background-color: #69DE89;
  text-decoration: none;
  color: white;
  transition: 0,5s ease;
  display: inline-block;
  margin-top: 20px;
}
